/* Thin Signifier */

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-thin.woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-thin-italic.woff2");
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight Signifier */

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-extralight.woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-extralight-italic.woff2");
  font-weight: 200;
  font-style: italic;
}

/* Light Signifier */

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-light.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-light-italic.woff2");
  font-weight: 300;
  font-style: italic;
}

/* Regular Signifier */

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-regular-italic.woff2");
  font-weight: 400;
  font-style: italic;
}

/* Medium Signifier */

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-medium-italic.woff2");
  font-weight: 500;
  font-style: italic;
}

/* Bold Signifier */

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-bold-italic.woff2");
  font-weight: 700;
  font-style: italic;
}

/* Black Signifier */

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-black.woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Signifier;
  src: url("./assets/fonts/Test\ Signifier/test-signifier-black-italic.woff2");
  font-weight: 900;
  font-style: italic;
}

/* ExtraLight Soehne */

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-extraleicht.woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-extraleicht-kursiv.woff2");
  font-weight: 200;
  font-style: italic;
}

/* Light Soehne */

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-leicht.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-leicht-kursiv.woff2");
  font-weight: 300;
  font-style: italic;
}

/* Regular Soehne */

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-buch.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-buch-kursiv.woff2");
  font-weight: 400;
  font-style: italic;
}

/* Medium Soehne */

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-kraftig.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-kraftig-kursiv.woff2");
  font-weight: 500;
  font-style: italic;
}

/* Semi-Bold Soehne */

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-halbfett.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-halbfett-kursiv.woff2");
  font-weight: 600;
  font-style: italic;
}

/* Bold Soehne */

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-dreiviertelfett.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-dreiviertelfett-kursiv.woff2");
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold Soehne */

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-fett.woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-fett-kursiv.woff2");
  font-weight: 800;
  font-style: italic;
}

/* Black Soehne */

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-extrafett.woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Soehne;
  src: url("./assets/fonts/Test\ Söhne/test-soehne-extrafett-kursiv.woff2");
  font-weight: 900;
  font-style: italic;
}

/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  border: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Header */

header {
  height: 80px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 22px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.imageWrapper {
  margin-right: 200px;
}

.imageWrapper img {
  width: 118px;
  height: 32px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 35px;
  font-family: Soehne;
  font-size: 18px;
  cursor: pointer;
}

nav ul li:hover {
  text-decoration: underline;
}

header button {
  position: absolute;
  right: 24px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-family: Soehne;
  font-size: 18px;
  cursor: pointer;
}

header button:hover {
  text-decoration: underline;
}

/* Main Section */

.mainScreen {
  height: 100vh;
}

.mainScreen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

.mainText {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 50px 250px 50px 350px;
}

.mainText h1 {
  color: #ffffff;
  font-family: Soehne;
  font-size: 73px;
  font-weight: 400;
  line-height: 73px;
  margin-bottom: 70px;
}

.mainText a {
  font-family: Soehne;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
}

.mainText h1 + a {
  border: 1px solid white;
}

.mainText h1 + a:hover {
  background-color: #ffffff;
  color: #000000;
}

.mainText a:last-child {
  text-decoration: underline;
}

.mainText a:last-child:hover {
  text-decoration-color: #ffffff80;
}
